<html>
	<head>
		<title>Bitly | URL Shortener and Link Management Platform</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/application.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
	</head>
	<body>
    <div class="container">
      <nav id="nav">
        <img src="img/Bitly-Logo.png">
      </div>
    </nav>
    <!--% if @flash %-->
      <div class="container" id="flash"><%= @flash %></div>
    <!--% end %-->
		<%= yield %>
    <!-- <footer id="footer" role="contentinfo" data-template="stage-footer">
      <section class="stage-pod">
        <div class="container container-pod t-center">
          <div class="footer-links">
            <ul id="menu-footer-menu" class="nav footer-nav clearfix">
              <li><a href="http://blog.bitly.com/">Blog</a></li>
              <li><a href="http://support.bitly.com/">Support</a></li>
              <li><a href="/pages/contact">Contact</a></li>
              <li><a href="http://dev.bitly.com">Developers</a></li>
              <li><a href="/pages/privacy">Privacy Policy</a></li>
              <li><a href="/pages/terms-of-service">Terms Of Service</a></li>
              <li><a href="/pages/partners">Partners</a></li>
              <li><a href="/pages/careers">Careers</a></li>
            </ul>
          </div>
          <div class="footer-attribution">
            <a href="../../" class="footer-logo"></a>
          </div>
          <ul class="footer-social-links">
            <li class="footer-social-link footer-social-link-facebook">
              <a href="http://www.facebook.com/bitly" target="_blank"></a>
            </li>
            <li class="footer-social-link footer-social-link-twitter">
              <a href="http://twitter.com/bitly" target="_blank"></a>
            </li>
            <li class="footer-social-link footer-social-link-linkedin">
              <a href="http://www.linkedin.com/company/552285" target="_blank"></a>
            </li>
            <li class="footer-social-link footer-social-link-instagram">
              <a href="http://instagram.com/bitly" target="_blank"></a>
            </li>
          </ul>
          <div class="footer-attribution">
            <p class="small source-org copyright flush-bottom">
            © 2016 Bitly™&nbsp;&nbsp;Handmade in MY
            </p>
          </div>
        </div>
      </section>
    </footer> -->
	</body>
</html>